alias s='sudo'
alias svim='sudo vim'
alias screen='screen -U'
alias cd..='cd ..'
alias df='df -h'
alias du='du -h'
alias du='du -sh'
alias ls='ls -CF'
alias la='ls -a'
alias ll='ls -lah'
alias lsd='ls -d */'
alias l='ls'

alias p-up='sudo pacman -Syy'
alias p-up2='sudo pacman -Syu'
alias p-search='pacman -Ss'
alias p-install='sudo pacman -S'
alias y-up='yaourt -Syy'
alias y-up2='yaourt -Syu'
alias y-search='yaourt -Ss'
alias y-up='yaourt -S'
