alias s='sudo'
alias svim='sudo $EDITOR'
alias .v="$EDITOR ~/.vimrc"
alias vim='$EDITOR'
alias up='cd ..'
alias df='df -h'
alias du='du -sh'
alias ls='ls -CF'
alias la='ls -a'
alias ll='ls -lah'
alias lsd='ls -d */'
alias l='ls'
alias g='git'

alias tmux='TERM=xterm-256color tmux'
alias tmux-2='tmux'
