[user]
    email = darwin@senet.us
    name = Jason Thigpen
[core]
    excludesfile = /home/cdarwin/.gitignore
    editor = gvim -f
[color]
    ui = auto
[alias]
    st = status
    ci = commit
    cim = commit -m
    br = branch
    cb = checkout -b
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    ap = add -p
    ai = add -i
    pr = pull --rebase
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard
